.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #000;
  height: 100%;
  overflow: hidden;
  .page-search {
    border: 1px solid deepskyblue;
  }
  .page-content {
    flex: 1;
    border: 1px solid green;
    width: 100%;
    overflow: auto
  }
}